<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546456672408-djbiu3pkhpe423qf2e7h6sqpoiorokoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546456672408-djbiu3pkhpe423qf2e7h6sqpoiorokoe</string>
	<key>API_KEY</key>
	<string>AIzaSyAooiBxtwbJ1JD0Vxk48N4CZL3XNn8E2bA</string>
	<key>GCM_SENDER_ID</key>
	<string>546456672408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gitHub</string>
	<key>PROJECT_ID</key>
	<string>mlsc-bot</string>
	<key>STORAGE_BUCKET</key>
	<string>mlsc-bot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546456672408:ios:11c45b03f7bf50acea18ed</string>
	<key>DATABASE_URL</key>
	<string>https://mlsc-bot-default-rtdb.firebaseio.com</string>
</dict>
</plist>